@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container mt-2">
    <div class="row" style="margin-left:05%">
        <div class="col-lg-6 col-md-12  "style="color:white; font-family:sans-serif" >
            <h1>School<span style="color:#8181ea; margin-bottom:30px">File</span></h1>
            <hr style="border-color:#8181ea"/>
        </div>
        <div class="col-lg-6 col-md-12 input-group" style="color:white">
            <div class=" input-group  border-info " style="background-color:#e2cac2;margin-top:5px;line-height:10px;border-radius:10px;border:30px;border-color:#8181ea;height:60px; width:500px">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color:#ede6d3">
                        <i class="fas fa-school fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                <div>
                    <h3 style="color:#373528; font-size: 15px; margin-top: 5px;margin-bottom:0">School Portal</h3>
                    <hr style="border-color:#8181ea; width:60px ;margin-left:0;margin-top:2px;margin-bottom:2px" />
                    <a style="color:#373528;font-size:15px" asp-page="#">Login to school portal</a>
                </div>

            </div>
            <div class=" input-group border-info" style="background-color: #e2cac2; margin-top: 5px; height: 60px;line-height:10px; border-radius: 10px;border:30px; width: 500px; margin-top: 10px">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color:#ede6d3">
                        <i class="fas fa-laptop fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                <div>
                    <h3 style="color: #373528; font-size: 15px; margin-top: 5px;margin-bottom: 0">CBT & i-Learning</h3>
                    <hr style="border-color:#8181ea ; width:60px ;margin-left:0;margin-top:2px;margin-bottom:2px" />
                    <a style="color:#373528;font-size:15px" asp-page="#">Pratice CBT exams,Read books,Watch tutorial videos...</a>
                </div>

            </div>
            <div class=" input-group border-info" style="background-color: #e2cac2; margin-top: 5px; height: 60px;line-height:10px; border-radius: 10px;border:30px; width: 500px; margin-top: 10px">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color:#ede6d3">
                        <i class="fas fa-users fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                <div>
                    <h3 style="color: #373528; font-size: 15px; margin-top: 5px;margin-bottom: 0">Recruitment</h3>
                    <hr style="border-color:#8181ea ; width:60px ;margin-left:0;margin-top:2px;margin-bottom:2px" />
                    <a style="color:#373528;font-size:15px" asp-page="#">Train and Recruit with us</a>
                </div>

            </div>
            <div class=" input-group border-info" style="background-color: #e2cac2; margin-top: 5px; height: 60px;line-height:10px; border-radius: 10px;border:30px; width: 500px; margin-top: 10px">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color:#ede6d3">
                        <i class="fas fa-cart-plus fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                <div>
                    <h3 style="color: #373528; font-size: 15px; margin-top: 5px;margin-bottom: 0">Store</h3>
                    <hr style="border-color:#8181ea ; width:60px ;margin-left:0;margin-top:2px;margin-bottom:2px" />
                    <a style="color:#373528;font-size:15px" asp-page="#">Store for school utensils</a>
                </div>
            </div>
        </div>

    </div>

</div>




@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a style="color:orangered" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
